<footer class="footer">
    <div class="container">
     <div class="row">
         <div class="footer-col">
             <h4>Libraryly</h4>
             <ul>
                 <li><a href="#">About Us</a></li>
                 <li><a href="#">Privacy Policy</a></li>
                 <li><a href="#"></a></li>
             </ul>
         </div>
         <div class="footer-col">
             <h4>Abouts Us</h4>
             <ul>
                 <li><a href="#">FAQ</a></li>
                 <li><a href="#">Our Services</a></li>
                 
 
             </ul>
         </div>
         <div class="footer-col">
             <h4>Teams</h4>
             <ul>
                 <li><a href="#">UI/UX</a></li>
                 <li><a href="#">Back End</a></li>
             </ul>
         </div>
         <div class="footer-col">
             <h4>Follow us</h4>
             <div class="Social-links">
                 <a href="#"><i class="fab fa-facebook"></i></a>
                 <a href="#"><i class="fab fa-instagram"></i></a>
                 <a href="#"><i class="fab fa-github"></i></a>
                 <a href="#"><i class="fab fa-linkedin-in"></i></a>
             </div>
         </div>
     </div>
    </div>
 </footer>
 
</body>
</html>
    
