# Environment Server
ENV=development

# Port to run the application
PORT=5000

# MongoDB connection string
MONGO_URI=mongodb://[username:password@]host1[:port1][,...hostN[:portN]][/[defaultauthdb][?options]]

# JWT secret key
JWT_SECRET=xxxxx.yyyyy.zzzzz

# JWT expiry period, in days
EXPIRY=30

# Session secret
SECRET=thisshouldbeasecret!

# CLoudinary cloud name
CLOUDINARY_CLOUD_NAME=[your cloud]

#cloudinary api key
CLOUDINARY_KEY=[your key]

# Cloudinary api secret
CLOUDINARY_SECRET=[your secret]