*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
div{
    text-align: center;
}
#text{
    animation:  text 2s ease-in infinite;
}
@keyframes text{
    0%{
    transform: translateY(0px);
    }25%{
        transform: translateY(10px);
    }50%{
        transform: translateY(0px);
    }75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}