*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    text-align: center;
    margin: 100px;
}

#bookmark{
    animation: bookmark 2s ease-in-out infinite;
}

@keyframes bookmark{
    0%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-500px);
    }
    50%{
        transform: translateY(0px);
    }
    70%{
        transform: translateY(5px);
    }
    100%{
         transform: translateY(0px);
    }

}
#Path-40_2{
    animation: animate 2s infinite linear;
    
}
#Path-40_3{
    animation: animate 2s infinite linear;
     animation-delay: 0.1s;
}
#Path-40_4{
    animation: animate 2s infinite linear; animation-delay: 0.2s;
}
#Path-40_5{
    animation: animate 2s infinite linear; animation-delay: 0.3s;
}
#Path-40_6{
    animation: animate 2s infinite linear; animation-delay: 0.4s;
}
#Path-40_7{
    animation: animate 2s infinite linear; animation-delay: 0.5s;
}
#Path-40_8{
    animation: animate 2s infinite linear; animation-delay: 0.6s;
}
#Path-40_9{
    animation: animate 2s infinite linear; animation-delay: 0.7s;
}
#Path-40_10{
    animation: animate 2s infinite linear; animation-delay: 0.8s;
}#Path-40_11{
    animation: animate 2s infinite linear; animation-delay: 0.8s;
}#Path-40_12{
    animation: animate 2s infinite linear; animation-delay: 0.8s;
}



@keyframes animate{
    0%{
        transform: translateX(-700px);
    }
    30%{
        transform: translateX(-700px);
    }
    50%{
        transform: translateX(0px);
    }
    70%{
        transform: translateX(5px);
    }
    100%{
         transform: translateX(0px);
    }

}
