<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to Libraryly</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <img class="logo" src="/img/logo_big.png">
        <div id="heading">Welcome to Libraryly.</div>
        <div id="body-1"><a href="/users/login">Login</a> or <a href="/users/register">Register</a> </div>  
    </body>
</html>