<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <!-- Displaying Error Messages using Sweetalert-->
        <% if (locals.err) { %>
            <script>
                Swal.fire({
                title: 'Error!',
                text: '<%=err%>',
                icon: 'error',
                confirmButtonText: 'Okay'
            })
            </script>
        <% } %>

        <% if (locals.result) { %>
            <script>
                Swal.fire({
                title: 'Success',
                text: 'You are successfully registered. Please wait until you are verified.',
                icon: 'success',
            })
            </script>
        <% } %>

        <div class="container">
            <div class="info">
                <h1>Login</h1>
            </div>
        </div>
        <div class="form">
            <div class="thumbnail">
                <img src="/img/logo_big.png"/>
            </div>
            <form class="login-form" action="/users/login" method="POST">
            <input type="text" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password"/>
            <button>Login</button>
            <p class="message">Not registered? <a href="/users/register">Create an account</a></p>
            </form>
        </div>
    </body>
</html>