<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <%- include('partials/header.ejs') %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <!-- Displaying Error Messages using Sweetalert-->
        <%- include('partials/alerts.ejs') %>        

        <div class="container">
            <div class="info">
                <h1>Login</h1>
            </div>
        </div>
        <div class="form">
            <div class="thumbnail">
                <img src="/img/logo_big.png"/>
            </div>
            <form class="login-form" action="/users/login" method="POST">
            <input type="text" placeholder="Email or Username" name="emailoruser">
            <input type="password" placeholder="Password" name="password"/>
            <button>Login</button>
            <p class="message">Not registered? <a href="/users/register">Create an account</a></p>
            </form>
        </div>
    </body>
</html>