<!DOCTYPE html>
<html>
    <head>
        <title>Error 404-Not Found!</title>
        <%- include('partials/header.ejs') %>
        <link rel="stylesheet" href="/css/not-found.css">
    </head>
    <body>
        <div id="content">
            <img src="/img/404.svg" class="error-img">
        </div>
        <div id="content-2">
            <h1>Page Not Found</h1>
            <h1>
            <a class="link" href="/">Back to Homepage</a>
            </h1>
        </div>
    </body>
</html>