<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Error 404-Not Found!</title>
        <link rel="icon" href="/img/logo_small.png">
       
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/not-found.css">
    </head>
    <body>
        <div id="content">
            <img src="/img/404.svg" class="error-img">
        </div>
        <div id="content-2">
            <h1>Page Not Found</h1>
            <h1>
            <a class="link" href="/">Back to Homepage</a>
            </h1>
        </div>
    </body>
</html>