*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    text-align: center;
    margin-top: 100px;
}
#first {
    animation: tumble 1s ease-out infinite ;
    transform-origin: 100px 0px;
}
#second {
    animation: tumble 1s ease-out infinite ;
    transform-origin: 370px 0px;
    }
@keyframes tumble{
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(10deg);
    }
    50%
    {
        transform: rotateZ(-15deg);
    }
    75%
    {
        transform: rotateZ(0deg);
    }
    100%
    {
        transform: rotateZ(0deg);
    }
}

#d1 , #d3 , #d6{
    animation : updown 1s ease-in-out infinite;
}
@keyframes updown{
    0%{
        transform: translateY(5px) translateZ(50px);
    }50%{
        transform: translateY(-8px) translateZ(0px);
    }100%{
        transform: translateY(5px) translateZ(50px);
    }
}
#movinghand{
    animation : tumble 2s ease-in-out infinite alternate-reverse ;
    transform-origin: 680px 250px;
}

#head{
    animation: heads 2s linear infinite ;
    transform-origin: 650px  300px;
}

@keyframes heads{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(20deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
