*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
div{
    text-align: center;
}
#file1 , #file2{
    animation: files 2s infinite linear  ;


}
#file3 , #file4{
    animation: files 2s infinite reverse linear  ;


}
@keyframes files{
    0%{
    transform: translateY(0px);
    }25%{
        transform: translateY(10px);
    }50%{
        transform: translateY(0px);
    }75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
#Vector_14 , #Vector_17  {
    animation: flowers 1s infinite linear  ;


}
 #Vector_16, #Vector_15, #Vector_18 {
    animation: flowers 2s infinite linear reverse ;


}


@keyframes flowers{
    0%{
    transform: translateY(0px);
    }25%{
        transform: translateY(2.5px);
    }50%{
        transform: translateY(0px);
    }75%{
        transform: translateY(-2.5px);
    }
    100%{
        transform: translateY(0px);
    }
}


