<!DOCTYPE html>
<html>
    <head>
        <title>New Category</title>
        <%- include('../partials/header') %>
        <link rel="stylesheet" href="/css/categories/add_category.css">
        <script src="/js/categories/add_category.js"></script>
    </head>
    <body>
        <%- include('../partials/alerts') %>
        New Category
        <form action="/category/add" method="post">
            <label>Category Name</label>
            <input type="text" name="name"><br>
            <label>Category Description</label>
            <textarea name="desc"></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>